body{
    background-color: #2f4f4f;
    font-size: larger;
}
h1{
    color: white;
    text-align: center;
}
table{
    width: 640px;
    margin: 0 auto;
    background-image: url(./img/hatter.jpg);
}
.k{
    border: 1px solid black;
}